@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap');

*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.flex_nav {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width:667px) {
  .nav_link {
    display: none;
  }

  header>div,
  .padding {
    padding: 0px 10px;
  }

}